<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="/templates/default/style/supply.css" />
	<script language="javascript" src="/templates/default/js/selectArea.js"></script>
	<script language="javascript" src="/templates/default/js/disImage.js"></script>
	<script type='text/javascript' src='/dwr/interface/AreaInfo.js'></script>
    <script type='text/javascript' src='/dwr/engine.js'></script>
    <script type='text/javascript' src='/dwr/util.js'></script>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>{ecms:this name="ch_name"/}---{ecms:base name="webtitle"/}</title>
</head>
<body onload="setProvince();">
<!--头部-->
{ecms:include file="/templates/default/templates/top.html"/}
<!--内容-->

<!--ad 10个广告位-->
	<div class="ad">
		<img src="/templates/default/images/ad/ba_120_1.gif" />
	</div>
	
<div id="main" >
	<div class="main_box">
		<div class="path">您当前位置：<a href="/">首页</a> > 求购信息 </div>
		<div class="cp_choose">请选择分类寻找产品</div>
		<div class="cp_choose_box">
			<ul>
				{ecms:classlist row="100" type="4" cmodel="stock" up_class_id="000000000000000"}
				<li><a href="[field:class_path/]">[field:class_name/][field:class_num/]</a></li> 
				{/ecms:classlist}
			</ul>
		</div>
		<div class="cp_choose_search">
		<span>快速筛选: </span>
		<select name="province" id="province" onclick="setCitys(this.value)"><option>所有省份</option></select> |  
		<select name="eparchy_codeS" id="eparchy_codeS" ><option>所有城市</option></select> | 
	  <select name="part" id="part" >
	  <option value=0>选择日期范围</option>
	  <option value=3>三天</option>
	  <option value=7>一周</option>
	  <option value=30>一月</option>
	  <option value=30>三月</option>
	  <option value=365>不限</option>
	  <input type="hidden" id="stockflag" name="stockflag"  value="imstock" />
	  </select> | <input type="text" value="输入关键字" id="keyWords"  name="keyWords" size="16" onFocus="this.value=''" /> <input name="" type="button" value="筛 选" onclick="b2bsearsh();"/>
		</div>
		<div class="list_left">
			<div class="list_left_box" id="list_left_box">
			  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <th width="16%">产品图片</th>
                  <th width="46%">公司/求购信息</th>
                  <th width="12%">所在地区</th>
                  <th width="12%">发布日期</th>
                  <th width="14%">联系方式</th>
                </tr>
                {ecms:articlelist row="15" cmodel="stock" imgwidth="100" imgheight="75"}
                <tr>
                  <td><a href="[field:arcurl/]">[field:imgurl/]</a></td>
                  <td valign="top">
				  <span class="content_name link_xian"><a href="[field:arcurl/]">[field:title/]</a></span></br>
									规格要求：[field:info_dsec/]</td>
                  <td align="center">&nbsp;[field:stock_addr/]</td>
                  <td align="center">[field:in_date/]</td>
                  <td align="center">
                  	<script language="javascript">
                  		var phone = '[field:group_contact_phone/]';
                  		if(phone.length>12){
                  			phone = phone.substring(0,12);
                  		}
                  		document.write(phone);
                  	</script>
                  </td>
                </tr>
                {/ecms:articlelist}				
			</table>
			
			  <div class="cplist_page lin1">{ecms:listpage row="15" type="0"/}</div>
			</div>
			
		</div>
		
	<!--	<div class="list_right">
			<div class="list_right_box">
				<div class="ad_180"><img src="/templates/default/images/ad/ad3_180.gif" /></div>
				<div class="ad_180"><img src="/templates/default/images/ad/ad1_180.gif" /></div>
				<div class="ad_180"><img src="/templates/default/images/ad/ad2_180.gif" /></div>
				<div class="ad_180"><img src="/templates/default/images/ad/ad4_180.gif" width="180" height="90" /></div>
				<div class="ad_180"><img src="/templates/default/images/ad/ad5_180.gif" /></div>
				<div class="ad_180"><img src="/templates/default/images/ad/ad6_180.jpg" /></div>
				<div class="ad_180"><img src="/templates/default/images/ad/ad7_180.jpg" /></div>
				<div class="ad_180"><img src="/templates/default/images/ad/ad8_180.jpg" /></div>
				
			</div>
		</div>-->
	</div>
</div>
<!--footer-->
<div id="link">友情链接:
	{ecms:friendlink row="25"}
		<a href="[field:link_url/]">[field:link_name/]</a> |
	{/ecms:friendlink}
</div>
{ecms:include file="/templates/default/templates/footer.html"/}
</body>
</html>


