@import url("../style/layout.css");
.news_main{
	width: 950px;
	height: auto;
	margin: 10px auto 0 auto;
	background: url(../images/job_di.gif) left bottom no-repeat;
	padding-bottom: 6px;}
/*栏目条*/
.in_lmt{
	float:left;
	width:100%;
	height:28px;
	background:url(../images/abtob_lmt0.gif) no-repeat right top;
}
.in_lmt .in_lmt_name{
	float:left;
	width:auto;
	height:auto;
	padding-left:26px;
	background:url(../images/abtob_lmt.gif) no-repeat left top;
}
.in_lmt .in_lmt_name span{
	float:left;
	width:auto;
	font-size:14px;
	font-weight:bold;
	color:#006600;
	padding:6px 50px 0 0;
	line-height:22px;
	background:url(../images/lmt_name.gif) no-repeat right top;
}
/*栏目条*/
.jm_lmt{ float:left; width:100%; height:28px; background: url(../images/abtob_0_10.gif) right top repeat;}
.jm_lmt span{ float:left; width:auto; height:28px; line-height:28px; padding-left:10px; color:#B42A12; font-size:14px; text-indent:0.6em; font-weight: bold;background: url(../images/abtob_0_10.gif) left top repeat;}
.jm_lmt_one{ float:left; width:217px; text-indent:1.2em; height:auto; line-height:22px;
padding-top:7px; color:#B42A12; font-size:14px; font-weight: bold; background: url(../images/jm_03.gif) left top repeat;}

/*中间内容*/
.news_mid_left{
	float:left;
	width:217px;
	height:auto;
	background: url(../images/number.gif) no-repeat 2px -2px;
}
.news_mid_left ul{
	float:left;
	width:215px;
	height:auto;
	border-left:1px solid #F8DBDB;
	border-right:1px solid #F8DBDB;
	border-bottom:1px solid #F8DBDB;
	padding-bottom: 8px;}
.news_mid_left li{
	float: left;
	width: 210px;
	line-height: 23px; 
	text-indent:2.2em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}



/*中部右边*/
.news_mid_right{
	float:right;
	width:720px;
	height:auto;
}
.news_mid_right_pic{
	float:right;
	width:283px;
	height:290px;
	background: url(../images/jm_pic.gif) no-repeat left top;}
.news_mid_right_pic img{ width:260px; height:120px; margin:10px 0 0 8px;}	
.news_mid_right_pic ul{ float:left; width:273px; height:auto; background: url(../images/number.gif) no-repeat 2px -30px;}	
.news_mid_right_pic li{
	float:left;
	width:260px;
	display: inline;
	line-height:23px;
	text-indent:2.2em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	
}
.news_mid_right_news {
	float:left;
	width:420px;
    height:auto;
	background: url(../images/abtob_0_05.gif) left top no-repeat;
	
}
.news_mid_right_news ul{
	float:left;
	width:418px;
    height:auto;
	border-left:1px solid #F8DBDB;
	border-right:1px solid #F8DBDB;
	border-bottom:1px solid #F8DBDB;}
.news_dt{
	float: left;
	width: 400px;
	margin-left:10px;
	display:inline;
	text-indent:2.2em;
	line-height: 34px;
	color: #CC3300;
}
.table_name{
	float: left;
	width: 420px;
	height: 25px;
	background: url(../images/news_table_bg.gif) left top repeat-x;
}
.table_name1{
	float: left;
	cursor:hand;
	line-height: 24px;
	padding: 0 20px;
	font-weight: bold;
	font-size:14px;
	color:#B42A12;
	background-color: #fff;
	border-left:1px solid #C0CED9;
	border-top:1px solid #C0CED9;
	border-right:1px solid #C0CED9;
}
.table_name2{
	float: left;
	cursor:hand;
	line-height: 24px;
	padding: 0 20px;
	font-size:14px;
	color:#B42A12;
	font-weight: bold;
	border-left:1px solid #F8DBDB;
	border-top:1px solid #F8DBDB;
	border-right:1px solid #F8DBDB;
	/*background: url(../images/news_table_name.gif) left top repeat-x;*/
}
.news_mid_right_newsbt{
	float: left;
	width: 398px;
	height: auto;
	padding:10px 5px 5px 12px;
	line-height: 20px;
	margin-bottom:10px;
	background-color:#fff;
	border-bottom: 1px dashed #ccc;
	color: #666;
}
.news_mid_right_newsbt font{
	color:#CC0000;
	font-family: 黑体;
	font-size: 18px;
}
.news_mid_right_news li{
	float:left;
	width: 410px;
	line-height: 24px;
	font-size: 14px;
	text-indent:1em;
}
.news_mid_right_news li span{
	color: #999;
	font-size: 12px;
	padding-left: 8px;
	color: #999;
}


/*新闻左边*/
.news_left{
	float: left;
	width: 730px;
	height: auto;
}
.news_left_list{
	float: left;
	width: 350px;
	height:auto;
	margin-right:15px;
	display:inline;
	
}
.news_left_list ul{
	float: left;
	width: 348px;
	height:auto;
	border-left:1px solid #CFE2CF;
	border-bottom:1px solid #CFE2CF;
	border-right:1px solid #CFE2CF;
}
.news_left_list_pic{
	float: left;
	width: 310px;
	color: #666;
	margin: 5px;
}
.news_left_list_pic img{
	float: left;
	margin-right:8px;
	border: 1px solid #ccc;
	padding: 1px;
}
.news_left_list_pic a:link,.news_left_list_pic a:hover {
	font-size:14px;
	font-weight: bold;
	text-decoration: none;
}
.news_left_list_pic a:visited{
	font-size:14px;
	color: Red;
	font-weight: bold;
	text-decoration: underline;
}
.news_left_list li{
	float: left;
	width: 320px;
	line-height: 24px;
	font-size:12px;
	padding-left: 10px;
	margin-left: 10px;
	display: inline;
	background: url(../images/ico.gif) left center no-repeat;}
.news_left_list li span{
	color:#999;
	font-size:12px;
}







.news_right{
	float: right;
	width: 217px;
	height: auto;
	background-color: #fff;
}
.news_right_list{
	float: left;
	width: 217px;
	height:auto;
}
.news_right_list ul{
	float: left;
	width: 215px;
	height:auto;
	border-left:1px solid #CFE2CF;
	border-bottom:1px solid #CFE2CF;
	border-right:1px solid #CFE2CF;
}
.news_right_list li{
	float: left;
	width: 208px;
	line-height: 24px;
	font-size:12px;
	margin-left:6px;
	display: inline;
	background: url(../images/ico.gif) left center no-repeat;}



