BODY,P,td,tr,table,text{FONT-SIZE: 12px; FONT-STYLE: normal; FONT-WEIGHT: normal;TEXT-DECORATION: none;word-break:break-all;line-height: 20px;cOLOR: #333333; font-family:宋体;}
img{border:0;}
li{ margin:0px; padding:0px; text-align:left;list-style-type: none;}
.ul_0{MARGIN-TOP: 10px; width:100%;}
.ul_0 ul{list-style-type: none; margin:0px; float:left;}
.ul_0 ul li{list-style-type: none; margin:0px; text-align:left;}
.ul_0 ul hr{ color:#FFFFFF; margin:0px; padding:0px; border-bottom:1px dashed #ccc;}
.wl_cpname{ width:300px; height:auto;}
.wl_cpname dt{ line-height:22px; width:300px; }
.wl_cpname dd{ float:left; line-height:20px; font-size:12px; width:auto; margin-left:0px; margin-right:8px; WHITE-SPACE: nowrap; color:#00349A}


H1 {font: bold 25px "宋体"; color: #000000; padding-top: 15px; text-align: center}
.wz20 {
	MARGIN-TOP: 10px; FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 180%
}
.dixian{ border-right:1px solid #FF6600; border-bottom:1px solid #FF6600;  border-left:1px solid #FF6600;}
A,A:visited,A:link {
	COLOR: #333333;
	text-decoration: none;
}
A:hover {
	COLOR: #FF7E00;
	text-decoration: underline;
}


A.wl_lse:visited,A.wl_lse:link {
	color:#008A5C; 
	text-decoration: underline;
}
A.wl_lse:hover {
	COLOR: #FF7E00;
	text-decoration: underline;
}


A.b14 {
	color: #333333;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: none;
}
A.b14:visited {
	COLOR: #333333;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: none;
}
A.b14:link {
	COLOR: #333333;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: none;
}
A.b14:hover {
	COLOR: #000;
	FONT-SIZE: 14px;
	font-weight:bold;
	line-height: 24px;
	text-decoration: none;
}


A.chengonganli {
	cOLOR: #CC0000;
	text-decoration: none;
}
A.chengonganli:visited {
	COLOR: #CC0000;
	text-decoration: none;
}


A.chengonganli:link {
	COLOR: #CC0000;
	text-decoration: none;
}
A.chengonganli:hover {
	COLOR: #FF6600;
	text-decoration: underline;
}

A.ABC {
	cOLOR: #FF6600;
	FONT-SIZE: 13px;
	font-weight: bold;
	text-decoration: none;
}
A.ABC:visited {
	COLOR: #FF6600;
	FONT-SIZE: 13px;
	font-weight: bold;
	text-decoration: none;
}


A.ABC:link {
	COLOR: #FF6600;
	FONT-SIZE: 13px;
	font-weight: bold;
	text-decoration: none;
}
A.ABC:hover {
	COLOR: #FF6600;
	FONT-SIZE: 13px;
	font-weight: bold;
	text-decoration: underline;
}

A.cp_list {
	cOLOR: #666666;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.cp_list:visited {
	COLOR: #666666;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.cp_list:link {
	COLOR: #666666;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.cp_list:hover {
	COLOR: #FF6600;
	FONT-SIZE: 12px;
	text-decoration: underline;
}


A.news {
	cOLOR: #00349A;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.news:visited {
	COLOR: #00349A;
	FONT-SIZE: 12px;;
	text-decoration: none;
}
A.news:link {
	COLOR: #00349A;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.news:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 12px;
	text-decoration: underline;
}

A.bt {
	cOLOR: #073E66;
	FONT-SIZE: 13px;
	text-decoration: none;
	font-weight: bold;
}
A.bt:visited {
	COLOR: #073E66;
	FONT-SIZE: 13px;;
	text-decoration: none;
	font-weight: bold;
}
A.bt:link {
	COLOR: #073E66;
	FONT-SIZE: 13px;
	text-decoration: none;
	font-weight: bold;
}
A.bt:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 13px;
	text-decoration: underline;
	font-weight: bold;
}

A.bt1 {
	cOLOR: #073E66;
	FONT-SIZE: 12px;
	text-decoration: none;
	font-weight: bold;
}
A.bt1:visited {
	COLOR: #073E66;
	FONT-SIZE: 12px;;
	text-decoration: none;
	font-weight: bold;
}
A.bt1:link {
	COLOR: #073E66;
	FONT-SIZE: 12px;
	text-decoration: none;
	font-weight: bold;
}
A.bt1:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 12px;
	text-decoration: underline;
	font-weight: bold;
}

A.cpbt {
	cOLOR: #00349A;
	FONT-SIZE: 14px;
	text-decoration: none;
	font-weight: bold;
}
A.cpbt:visited {
	COLOR: #00349A;
	FONT-SIZE: 14px;;
	text-decoration: none;
	font-weight: bold;
}
A.cpbt:link {
	COLOR: #00349A;
	FONT-SIZE: 14px;
	text-decoration: none;
	font-weight: bold;
}
A.cpbt:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 14px;
	text-decoration: underline;
	font-weight: bold;
}

A.zhong {
	cOLOR: #8A0A0A;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.zhong:visited {
	COLOR: #8A0A0A;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.zhong:link {
	COLOR: #8A0A0A;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.zhong:hover {
	COLOR: #8A0A0A;
	FONT-SIZE: 9pt;
	text-decoration: underline;
}

A.lanse {
	cOLOR: #073E66;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.lanse:visited {
	COLOR: #073E66;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.lanse:link {
	COLOR: #073E66;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.lanse:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 9pt;
	text-decoration: underline;
}

A.lansed {
	cOLOR: #073E66;
	FONT-SIZE: 14px;
	text-decoration: none;
}
A.lansed:visited {
	COLOR: #073E66;
	FONT-SIZE: 14px;
	text-decoration: none;
}
A.lansed:link {
	COLOR: #073E66;
	FONT-SIZE: 14px;
	text-decoration: none;
}
A.lansed:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 14px;
	text-decoration: underline;
}

.xian {
	background-attachment: scroll;
	background-image: url(/images/xian.gif);
	background-repeat: repeat-x;
	background-position: left center;
}
.0 {

	height: 20px;
	font-size: 12px;
	COLOR: #999999;
}
.cs {
	font-size: 14px;
	COLOR: #999999;
	height: 26px;
}
.box_cs0 {
	font-size: 14px;
	COLOR: #999999;
	height: 22px;
	line-height:18px;
}
.box_cs {
	font-size: 14px;
	COLOR: #999999;
	height: 18px;
	line-height:18px;
}
.ss {
	font-size: 14px;
	COLOR: #000000;
	height: 26px;
}
.zi {
	color: #FF7E00;
}
.zi0 {
	color: #009900;
}

.shixuan {
	color: #0075ED;
	font-size: 12px;
	font-weight: bold;
}

.baise {
	color: #FFFFFF;
}

A.baise {
	cOLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
a.baise:visited {
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
a.baise:link {
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
a.baise:hover {
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: underline;
}
.bthong {
    font-size: 14px;
	color: #8A0A0A;
	font-weight: bold;


}
.btlanse {
    font-size: 14px;
	color: #073E66;
	font-weight: bold;
}

.hhong {
	color: #8A0A0A;
}
.lanse_renceitop {COLOR: #073E66;}
.time {
	color: #999999;
}
.leftbt14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #206DB1;}
.04 {
	font-family: 6px;
}
.page {
	border-top: #cccccc 1px dashed; margin-top:10px;font-weight:bold; font-size:14px; padding-bottom:10px; padding-top:10px; text-align:center;
}
.rencei_table_xian {
	border-bottom: #cccccc 1px dashed; margin-top:3px
}
.right_xian {
	border-right: #cccccc 1px dashed; margin-top:3px
}
.STYLE1 {font-size: 14px;}
.STYLE2 {
color: #999999}
.b2-bt{
color:#fff;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
.b2-bt2{
color:#23564F;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
.b2-bt4{
color:#FB8B03;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
.b2-bt6{
color:#289FEF;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
.b2-bt8{
color:#FF8100;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
.b2-bt10{
color:#2E4881;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
.b2-bt12{
color:#F22D03;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
.b2-bt14{
color:#83272C;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
.b2-bt16{
color:#9CAD3A;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
 .b2-bt18{
color:#884CB0;
font-size:13px;
font-weight:bold; 
font-family:Arial;
} 
  
  
  
  
  
  

.b2-bt1{
color:#fff;
font-size:14px;
font-weight:bold; 
}
.b2-bt3{
color:#23564F;
font-size:14px;
font-weight:bold; 
}
.b2-bt5{
color:#FB8B03;
font-size:14px;
font-weight:bold; 
}
.b2-bt7{
color:#289FEF;
font-size:14px;
font-weight:bold; 
}
.b2-bt9{
color:#FF8100;
font-size:14px;
font-weight:bold; 
}
.b2-bt11{
color:#2E4881;
font-size:14px;
font-weight:bold; 
}
.b2-bt13{
color:#F22D03;
font-size:14px;
font-weight:bold; 
}
.b2-bt15{
color:#83272C;
font-size:14px;
font-weight:bold; 
}
.b2-bt17{
color:#9CAD3A;
font-size:14px;
font-weight:bold; 
}
.b2-bt19{
color:#884CB0;
font-size:14px;
font-weight:bold; 
}







.b2-newslistzi{
font-size:12px;
color:#FF7A00;
}
.b2-newslistzi a {
	cOLOR:#FF7A00;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.b2-newslistzi a:visited {
	COLOR:#FF7A00;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.b2-newslistzi a:link {
	COLOR:#FF7A00;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.b2-newslistzi a:hover {
	COLOR:#FF7A00;
	FONT-SIZE: 12px;
	text-decoration: underline;
}
.b2-newslistbt{
	font-size:14px;
	color:#FF7F00;
	font-weight:bold;
}
.b2-newslistbt a {
	cOLOR:#FF7F00;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: underline;
}
.b2-newslistbt a:visited {
	COLOR:#FF7F00;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: underline;
}
.b2-newslistbt a:link {
	COLOR:#FF7F00;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: underline;
}
.b2-newslistbt a:hover {
	COLOR:#FF7F00;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: none;
	
}
.b2-lansebt{
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
}
.sou_button {
	background: url(/images/sou_button.gif) no-repeat left center; FLOAT: left; FONT: 12px/22px "宋体"; margin-right:5px; WIDTH: 69px; TEXT-ALIGN: center
}
.b2-lansebt a {
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
	text-decoration: none;
	
}
.b2-lansebt a:visited {
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
	text-decoration: none;
}
.b2-lansebt a:link {
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
	text-decoration: none;
}
.b2-lansebt a:hover {
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
	text-decoration: underline;
}

.div-weight{
	float:left;
	width:120px;
	height:130px;
	padding-bottom:5px;}
	
	
.wl_news_ul{ padding:0px; margin:0px; }
.wl_news_ul ul{ padding:0px; margin:0px; list-style-type:none; }
.wl_news_ul ul li{ padding:0px; margin:0px;}