.sou_button {
	background: url(/images/sou_button.gif) no-repeat left center; 
	FLOAT: left; 
	FONT: 12px/22px "宋体"; 
	margin-right:5px;
	WIDTH: 69px; 
	TEXT-ALIGN: center;
}
.books_ul{ float:left; width:720px; height:auto;}
.books_ul ul{ list-style-type:none; margin:0px; padding:0px;}
.books_ul ul li{list-style-type: none; float:left; width:340px; margin-left:10px; margin-bottom:18px; display:inline;}

.books_ul_list{ width:200px; height:auto;}
.books_ul_list ul{ list-style-type:none; margin:0px; padding:0px;}
.books_ul_list ul li{ float:left; list-style-type: none; float:left; width:100px; height:24px; border-bottom:1px dashed #ccc;}

.books_pop_list{ width:200px; height:auto;}
.books_pop_list ul{ list-style-type:none; margin:0px; padding:0px;}
.books_pop_list ul li{ float:left; list-style-type: none; float:left; width:190px; height:24px; border-bottom:1px dashed #ccc;}

.books_ul0{ float:left; width:720px; height:auto;}
.books_ul0 ul{ list-style-type:none; margin:0px; padding:0px;}
.books_ul0 ul li{list-style-type: none; float:left; width:168px; margin-left:10px; margin-bottom:18px; display:inline;}

.books_groom_ul{ float:left; width:200px; height:auto;}
.books_groom_ul ul{ list-style-type:none; margin:0px; padding:0px;}
.books_groom_ul ul li{list-style-type: none; float:left; width:168px; margin-left:10px; margin-bottom:18px; display:inline;}

.books_ul2{ float:left; width:153; height:21px; line-height:21px; color:#CD5600; font-weight:bold; background:url(/images/books_lmt_14.gif) left center no-repeat; margin-bottom:20px; padding-left:15px;}
.books_edit{ float:left; width:720px; height:32px; border-top:1px dashed #ccc; font-size:14px; font-weight:bold; background:url(/images/zse.gif) left center no-repeat; margin:10px; display:inline; line-height:32px; color:#000000;}
.books_edit_content{ float:left; width:700px; height:auto; margin-left:10px;}

.books_page{ float:left; width:720px; height:46px; line-height:42px; border-top:1px dashed #ccc;  margin:10px; display:inline; line-height:32px;}

 
.ul_0 ul{ list-style-type:none; margin:0px; padding:0px;}
.ul_0 ul li {list-style-type: none;text-align: left; }
H1 {font: bold 25px "宋体"; color: #000000; padding-top: 15px; text-align: center}
.wz20 {
	MARGIN-TOP: 10px; FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 180%
}
A,A:visited,A:link {
	COLOR: #333333;
	text-decoration: none;
}
A:hover {
	COLOR: #FF6600;
	text-decoration: underline;
}


A.chengonganli {
	cOLOR: #CC0000;
	text-decoration: none;
}
A.chengonganli:visited {
	COLOR: #CC0000;
	text-decoration: none;
}


A.chengonganli:link {
	COLOR: #CC0000;
	text-decoration: none;
}
A.chengonganli:hover {
	COLOR: #FF6600;
	text-decoration: underline;
}

A.ABC {
	cOLOR: #FF6600;
	FONT-SIZE: 13px;
	font-weight: bold;
	text-decoration: none;
}
A.ABC:visited {
	COLOR: #FF6600;
	FONT-SIZE: 13px;
	font-weight: bold;
	text-decoration: none;
}


A.ABC:link {
	COLOR: #FF6600;
	FONT-SIZE: 13px;
	font-weight: bold;
	text-decoration: none;
}
A.ABC:hover {
	COLOR: #FF6600;
	FONT-SIZE: 13px;
	font-weight: bold;
	text-decoration: underline;
}

A.cp_list {
	cOLOR: #666666;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.cp_list:visited {
	COLOR: #666666;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.cp_list:link {
	COLOR: #666666;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.cp_list:hover {
	COLOR: #FF6600;
	FONT-SIZE: 12px;
	text-decoration: underline;
}


A.news {
	cOLOR: #00349A;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.news:visited {
	COLOR: #00349A;
	FONT-SIZE: 12px;;
	text-decoration: none;
}
A.news:link {
	COLOR: #00349A;
	FONT-SIZE: 12px;
	text-decoration: none;
}
A.news:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 12px;
	text-decoration: underline;
}

A.bt {
	cOLOR: #073E66;
	FONT-SIZE: 13px;
	text-decoration: none;
	font-weight: bold;
}
A.bt:visited {
	COLOR: #073E66;
	FONT-SIZE: 13px;;
	text-decoration: none;
	font-weight: bold;
}
A.bt:link {
	COLOR: #073E66;
	FONT-SIZE: 13px;
	text-decoration: none;
	font-weight: bold;
}
A.bt:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 13px;
	text-decoration: underline;
	font-weight: bold;
}

A.bt1 {
	cOLOR: #073E66;
	FONT-SIZE: 12px;
	text-decoration: none;
	font-weight: bold;
}
A.bt1:visited {
	COLOR: #073E66;
	FONT-SIZE: 12px;;
	text-decoration: none;
	font-weight: bold;
}
A.bt1:link {
	COLOR: #073E66;
	FONT-SIZE: 12px;
	text-decoration: none;
	font-weight: bold;
}
A.bt1:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 12px;
	text-decoration: underline;
	font-weight: bold;
}

A.cpbt {
	cOLOR: #00349A;
	FONT-SIZE: 14px;
	text-decoration: none;
	font-weight: bold;
}
A.cpbt:visited {
	COLOR: #00349A;
	FONT-SIZE: 14px;;
	text-decoration: none;
	font-weight: bold;
}
A.cpbt:link {
	COLOR: #00349A;
	FONT-SIZE: 14px;
	text-decoration: none;
	font-weight: bold;
}
A.cpbt:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 14px;
	text-decoration: underline;
	font-weight: bold;
}

A.zhong {
	cOLOR: #8A0A0A;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.zhong:visited {
	COLOR: #8A0A0A;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.zhong:link {
	COLOR: #8A0A0A;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.zhong:hover {
	COLOR: #8A0A0A;
	FONT-SIZE: 9pt;
	text-decoration: underline;
}

A.lanse {
	cOLOR: #073E66;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.lanse:visited {
	COLOR: #073E66;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.lanse:link {
	COLOR: #073E66;
	FONT-SIZE: 9pt;
	text-decoration: none;
}
A.lanse:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 9pt;
	text-decoration: underline;
}

A.lansed {
	cOLOR: #073E66;
	FONT-SIZE: 14px;
	text-decoration: none;
}
A.lansed:visited {
	COLOR: #073E66;
	FONT-SIZE: 14px;
	text-decoration: none;
}
A.lansed:link {
	COLOR: #073E66;
	FONT-SIZE: 14px;
	text-decoration: none;
}
A.lansed:hover {
	COLOR: #FF7E00;
	FONT-SIZE: 14px;
	text-decoration: underline;
}

.xian {
border-bottom:1px solid #666;
}
.xian_01 {
	float:left;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	background-color:#F0F0F0;
	height:25px;
	line-height:25px;
	margin-right:1px;
	padding-left:3px;
}
.0 {

	height: 20px;
	font-size: 12px;
	COLOR: #999999;
}
.cs {
	font-size: 14px;
	COLOR: #999999;
	height: 20px;
}
.ss {
	font-size: 14px;
	COLOR: #000000;
	height: 26px;
}
.zi {
	color: #FF7E00;
}
.zi0 {
	color: #009900;
}

.shixuan {
	color: #0075ED;
	font-size: 12px;
	font-weight: bold;
}

.baise {
	color: #FFFFFF;
}

A.baise {
	cOLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
a.baise:visited {
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
a.baise:link {
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
a.baise:hover {
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: underline;
}
.bthong {
    font-size: 13px;
	color: #8A0A0A;
	font-weight: bold;
}
.btlanse {
    font-size: 13px;
	color: #073E66;
	font-weight: bold;
}

.hhong {
	color: #8A0A0A;
}
.lanse_renceitop {COLOR: #073E66;}
.time {
	color: #999999;
}
.leftbt14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #FF7E00;}
.04 {
	font-family: 6px;
}
.page {
	border-top: #cccccc 1px dashed; margin-top:10px;font-weight:bold; font-size:14px; padding-bottom:10px; padding-top:10px; text-align:center;
}

.rencei_table_xian {
	border-bottom: #cccccc 1px dashed; margin-top:3px
}
.right_xian {
	border-right: #cccccc 1px dashed; margin-top:3px
}
.STYLE1 {font-size: 14px;}
.STYLE2 {
color: #999999}
.b2-bt{
color:#fff;
font-size:13px;
font-weight:bold; 
font-family:Arial;
}
.b2-bt1{
color:#fff;
font-size:14px;
font-weight:bold; 
}
.b2-newslistzi{
font-size:12px;
color:#FF7A00;
}
.b2-newslistzi a {
	cOLOR:#FF7A00;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.b2-newslistzi a:visited {
	COLOR:#FF7A00;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.b2-newslistzi a:link {
	COLOR:#FF7A00;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.b2-newslistzi a:hover {
	COLOR:#FF7A00;
	FONT-SIZE: 12px;
	text-decoration: underline;
}
.b2-newslistbt{
	font-size:14px;
	color:#FF7F00;
	font-weight:bold;
}
.b2-newslistbt a {
	cOLOR:#FF7F00;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: underline;
}
.b2-newslistbt a:visited {
	COLOR:#FF7F00;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: underline;
}
.b2-newslistbt a:link {
	COLOR:#FF7F00;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: underline;
}
.b2-newslistbt a:hover {
	COLOR:#FF7F00;
	FONT-SIZE: 14px;
	font-weight:bold;
	text-decoration: none;
	
}
.b2-lansebt{
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
}
.b2-lansebt a {
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
	text-decoration: none;
	
}
.b2-lansebt a:visited {
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
	text-decoration: none;
}
.b2-lansebt a:link {
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
	text-decoration: none;
}
.b2-lansebt a:hover {
	color:#003B95;
	font-family:黑体; 
	font-size:16px;
	text-decoration: underline;
}

.div-weight{
	float:left;
	width:120px;
	padding-bottom:5px;}
.ul_01{ width:400px; height:auto; font-size:14px; color:#FF0000;}	
.ul_01 ul{ list-style-type:none; margin-left:10px; padding:0px;}	
.ul_01 ul li{ float:left; list-style-type:none; width:190px; height:22px; font-size:12px;}

.mxqiye_cp_list{float:left;width:660px; color:#666;}
.mxqiye_cp_list ul{ list-style-type:none; margin:0px; padding:0px;}
.mxqiye_cp_list ul li{float:left;width:24%; color:#666; margin-bottom:16px;}

.mxqiye_cp1_list{float:left;width:660px; color:#666;  margin-top:16px;}
.mxqiye_cp1_list ul{ list-style-type:none; margin:0px; padding:0px;}
.mxqiye_cp1_list ul li{float:left;width:33%; color:#666; margin-bottom:6px;}
.mxqiye_logo_link{float:left; width:108px; height:46px;}

