BODY,table,tr,td{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
A:link {
	COLOR: #001d4c; TEXT-DECORATION: none
}
A:visited {
	COLOR: #001d4c; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.s {
	FONT-SIZE: 12px
}
.s:link {
	FONT-SIZE: 12px
}
.s:visited {
	FONT-SIZE: 12px
}
.s:hover {
	FONT-SIZE: 12px
}
.c {
	FONT-SIZE: 14px
}
.c:link {
	FONT-SIZE: 14px
}
.c:visited {
	FONT-SIZE: 14px
}
.c:hover {
	FONT-SIZE: 14px
}
.nol {
	TEXT-DECORATION: none
}
.nol:link {
	TEXT-DECORATION: none
}
.nol:visited {
	TEXT-DECORATION: none
}
.nol:hover {
	TEXT-DECORATION: none
}
.a12 {
	FONT-SIZE: 12px
}
.a12:link {
	FONT-SIZE: 12px
}
.a12:visited {
	FONT-SIZE: 12px
}
.a12:hover {
	FONT-SIZE: 12px
}
.a14 {
	FONT-SIZE: 14px
}
.a14:link {
	FONT-SIZE: 14px
}
.a14:visited {
	FONT-SIZE: 14px
}
.a14:hover {
	FONT-SIZE: 14px
}
.nol {
	TEXT-DECORATION: none
}
.nol:link {
	TEXT-DECORATION: none
}
.nol:visited {
	TEXT-DECORATION: none
}
.nol:hover {
	TEXT-DECORATION: none
}
.b12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.b12:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.b12:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.b12:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.b14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.b14:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.b14:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.b14:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.lh13 {
	LINE-HEIGHT: 130%
}
.lh15 {
	LINE-HEIGHT: 150%
}
.promnNav {
	WIDTH: 750px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#slidetexts {
	OVERFLOW: hidden; LINE-HEIGHT: 150%; HEIGHT: 90px; TEXT-ALIGN: left
}
#slidetexts LI {
	CLEAR: both
}
#slidetexts LI DIV {
	OVERFLOW: hidden; WIDTH: 100%
}
#bottom {
	BORDER-TOP: #ff7300 3px solid; MARGIN-TOP: 40px; FONT-SIZE: 12px; FLOAT: left; WIDTH: 100%; LINE-HEIGHT: 150%; PADDING-TOP: 10px; TEXT-ALIGN: center
}